@import "tailwindcss";

:root {
  --background: #3b74d2;
  --foreground: #171717;
}

.lemon-font {
  font-family: var(--font-lemon), sans-serif;
}

.futura-font {
  font-family: var(--font-futura), sans-serif;
}

.mrsiv-font {
  font-family: var(--font-mrsiv), sans-serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
