@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@font-face {
  font-family: "FuturaLT-Book";
  src: url("/fonts/futuralt-book.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "Mrsiv";
  src: url("/fonts/mrsiv.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "LemonMilk";
  src: url("/fonts/lemonmilk.otf") format("opentype");
  font-display: swap;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  /* Custom fonts */
  --font-futura: "FuturaLT-Book", sans-serif;
  --font-mrsiv: "Mrsiv", cursive;
  --font-lemon: "LemonMilk", sans-serif;
  --font-sans: var(--font-futura);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
